.background{
	-fx-background-color: black;
}

.font{
	-fx-font-family: 'Fleftex';
}

.title-button{
	-fx-font-size: 12px;
}

//instruction page
. instruction-border{
    -fx-border-color: yellow ;
    -fx-border-width: 2;
}

.instruction-border .label{
    -fx-text-fill: white;
    -fx-font-family: 'Fleftex';
    -fx-font-size: 20px;
}

.exit-button{
    -fx-background-color: transparent;
}

//game over page
.font-Title-GameOver{
	-fx-font-family: 'Fleftex';
	-fx-font-size: 42px;
}

.font-GameOver{
	-fx-font-family: 'Fleftex';
	-fx-font-size: 28px;
}

//game play page
.font-Title-HighScore{
	-fx-font-family: 'Fleftex';
	-fx-font-size: 42px;
}

.font-TableTitle-HighScore{
	-fx-font-family: 'Fleftex';
	-fx-font-size: 24px;
}

.font-HighScore{
	-fx-font-family: 'Fleftex';
	-fx-font-size: 16px;
}



#title{
	-fx-font-size: 50px;
}


